.header {
  width: 100%;
  margin: 0 auto;
  padding: 2px;
  box-sizing: border-box;
  line-height: 0;
  background-color: var(--color-bcg-orange);
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  text-decoration: none;
}

.header__title {
  margin: 0 0 0 4px;
  color: var(--black);
  font-size: 15px;
  line-height: normal;
  font-weight: 700;
}

.header__img {
  width: 20px;
  height: 20px;
}

.header__menu {

}

.header__link {
  color: var(--black);
  text-decoration: none;
  font-size: 12px;
  line-height: 1.2;
  font-weight: normal;
  padding: 0 5px;
  margin: 0;
}

.header__link:not(:last-child) {
  border-right: 1px solid var(--black);
}

.header__link_active {
  font-weight: 700;
}